body {
  background-color: bisque;
}

section {
  height: 95vh;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  color: black;
}

h2 {
  font-family: "Brittany Signature", sans-serif;
  color: #b91646;
  line-height: 2px;
  font-size: 70px;
  text-align: center;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  line-height: 1px;
  color: black;
  text-align: center;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  line-height: 1px;
}

.button {
  background-color: #dfd8ca;
  height: 30px;
  width: 150px;
  border: 1px solid black;
  font-size: 12px;
  color: black;
}

.btn {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
  height: 45px;
  width: 80px;
  display: inline-block;
  transition: all 0.2s;
  font-family: "Bebas Neue", sans-serif;
  background-color: #dfd8ca;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.btn a {
  text-decoration: none;
  color: #b91646;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.trait-horizontal {
  border-top: 1px solid black;
  width: 80%;
  margin: 5px auto;
  padding: 5px 0;
}

.trait-horizontal2 {
  border-top: 1px solid black;
  width: 80%;
  margin: 5px auto;
  padding: 10px 0;
  margin-top: 20rem;
}

p {
  flex: 1;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 14px;
  color: black;
}

.button1 {
  background-color: #b91646;
  color: #dfd8ca;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  border: 2px solid black;
  padding: 5px;
}

.button2 {
  background-color: #f9c041;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  border: 2px solid black;
  padding: 5px;
}

.button3 {
  background-color: #105652;
  font-weight: bold;
  cursor: pointer;
  color: #dfd8ca;
  width: 150px;
  border: 2px solid black;
  padding: 5px;
}

.button4 {
  background-color: #b91646;
  color: #dfd8ca;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  border: 2px solid black;
  padding: 5px;
}

.button5 {
  background-color: #f9c041;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  border: 2px solid black;
  padding: 5px;
}

.button6 {
  background-color: #105652;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  border: 2px solid black;
  padding: 5px;
}

.title {
  text-align: center;
}

#header h1 {
  font-size: 25px;
}

#header h2 {
  margin-top: 12rem;
  font-size: 70px;
}

#education .bg {
  margin-top: 5rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-content: center;
  justify-items: center;
  margin: 30px;
}

#education h1 {
  font-size: 25px;
  margin-bottom: 4rem;
}

.text-frame {
  border: 1px solid #000;
  padding: 5px;
  background-color: #f0f0f0;
  margin: 10px;
  color: #000;
  text-align: center;
}

.text-frame h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.columnOne h4,
.columnTwo h4 {
  margin: 0;
}

.columnOne {
  margin-bottom: 50px;
}

#competence h1 {
  font-size: 25px;
  margin-bottom: 8rem;
  margin-top: 23rem;
}

.frame1 {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  background-color: #105652;
  text-align: left;
  color: #dfd8ca;
  font-weight: bold;
  width: 15rem;
  height: 20rem;
}

.frame2 {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  background-color: #b91646;
  text-align: left;
  color: #dfd8ca;
  font-weight: bold;
  width: 15rem;
  height: 20rem;
}

.frontend,
.backend {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.image-container {
  margin: 20px;
}

.html,
.react,
.node {
  width: 85px;
  height: auto;
}

.mysql,
.express {
  width: 120px;
  height: auto;
}

.picture2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  justify-content: center;
  justify-items: center;
}

#projects h1 {
  font-size: 25px;
  margin-top: 60rem;
  margin-bottom: 10rem;
}

#Projects1 h2 {
  margin-top: 5rem;
}

.image {
  margin-left: 25px;
}

.line {
  padding: 0;
}

.line li {
  display: inline;
  margin: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.line2 li {
  display: inline;
  margin: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.line2 {
  padding: 0;
  position: relative;
  z-index: 2;
}

.line3 li {
  display: inline;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.line3 {
  padding: 0;
  position: relative;
  z-index: 2;
}

#Projects2 h2 {
  margin-top: 3em;
}

#Projects3 h2 {
  margin-top: 3em;
}

.picture1 {
  width: 15em;
  height: 18em;
  border-radius: 10px;
}

.dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  position: relative;
  width: 16rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -13px;
  margin: auto;
  width: 19rem;
  height: 21rem;
  border-radius: 10px;
  background: linear-gradient(-45deg, #b91646 0%, #f9c041 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #b91646 0%, #f9c041 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.pictureProjet1 {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 22rem;
}

.pictureProjet1::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #b91646, #105652);
  height: 150%;
  animation: rotBGimg 8s linear infinite;
  transition: all 0.2s linear;
  z-index: 1;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pictureProjet1::after {
  content: "";
  position: absolute;
  background: #f9c041;
  inset: 5px;
  z-index: 1;
  border-radius: 1rem;
}

.pictureProjet2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projet2 {
  width: 16rem;
  height: 13rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: transform 0.3s;
  position: relative;
  z-index: 2;
  border-radius: 20px;
}

.projet2:hover {
  transform: scale(0.8);
}

.picture-project2 {
  background-color: #b91646;
  width: 20rem;
  height: 22rem;
}

.picture-project2 {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 22rem;
}

.picture-project2::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #f9c041, #105652);
  height: 150%;
  animation: rotBGimg 8s linear infinite;
  transition: all 0.2s linear;
  z-index: 1;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.picture-project2::after {
  content: "";
  position: absolute;
  background: #b91646;
  inset: 5px;
  border-radius: 15px;
  z-index: 1;
  border-radius: 1rem;
}

.frame3 {
  border: 2px solid #000;
  background-color: #b91646;
  text-align: center;
  color: #000;
  width: 20rem;
  height: 22rem;
  margin: 13px;
}

.maestro {
  width: 14rem;
  height: 20rem;
  margin-top: 1rem;
}

.projet1 {
  width: 16rem;
  height: 13rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: transform 0.3s;
  position: relative;
  z-index: 2;
  border-radius: 20px;
}

.projet1:hover {
  transform: scale(0.8);
}

.button-link {
  text-decoration: none;
}

#contact h2 {
  font-size: 70px;
}

#contact h3 {
  font-size: 45px;
}

.call {
  list-style-type: none;
}

.icones {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.projet1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.picture-project3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.projet3 {
  width: 16rem;
  height: 13rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  transition: transform 0.3s;
}

.pictureProjet3 {
  width: 16rem;
  height: 13rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: transform 0.3s;
  position: relative;
  z-index: 2;
}

.pictureProjet3 {
  width: 20rem;
  height: 22rem;
}

.pictureProjet3 {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 22rem;
}

.pictureProjet3::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #f9c041, #b91646);
  height: 150%;
  animation: rotBGimg 8s linear infinite;
  transition: all 0.2s linear;
  z-index: 1;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pictureProjet3::after {
  content: "";
  position: absolute;
  background: #105652;
  inset: 5px;
  z-index: 1;
  border-radius: 1rem;
}

.projet3:hover {
  transform: scale(0.8);
}

@media (min-width: 720px) {
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  p {
    font-size: 17px;
  }

  .picture-container {
    width: 16rem;
    height: 20rem;
    margin-left: 18rem;
    text-align: center;
  }

  .picture {
    max-width: 100%;
    height: auto;
    width: 12rem;
  }

  .text-frame {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
  }

  .picture2 {
    display: flex;
  }

  .frame1,
  .frame2 {
    width: 22rem;
    text-align: center;
    font-size: 16px;
  }

  .pictureProjet1 {
    width: 26rem;
    height: 26rem;
    flex: 1;
    padding: 5px;
  }

  .projet1-container {
    display: flex;
  }

  .pictureProjet2 {
    display: flex;
  }

  .picture-project3 {
    display: flex;
  }

  .picture-project2 {
    width: 26rem;
    height: 26rem;
    flex: 1;
    padding: 5px;
  }

  .projet2 {
    width: 20rem;
    height: 18rem;
    margin: 2rem;
  }

  .pictureProjet3 {
    width: 26rem;
    height: 26rem;
    flex: 1;
    padding: 5px;
  }

  .projet3 {
    width: 20rem;
    height: 18rem;
    margin: 2rem;
  }

  #contact h3 {
    font-size: 50px;
  }

  #contact h2 {
    font-size: 38px;
  }

  .frame3 {
    width: 26rem;
    height: 26rem;
    margin-top: 10px;
    padding: 5px;
  }

  .maestro {
    margin-top: 2rem;
    width: 16rem;
    height: 22rem;
  }

  .projectContainer {
    display: flex;
  }

  .projet1 {
    width: 20rem;
    height: 18rem;
    margin: 2rem;
  }

  .button1 {
    background-color: #105652;
  }

  .button2 {
    background-color: #b91646;
  }

  .button6 {
    background-color: #b91646;
  }

  .line li {
    font-size: 12px;
  }

  .container-icone {
    display: flex;
    gap: 1rem;
  }

  #education h1 {
    margin-bottom: 5rem;
  }

  section {
    height: 70vh;
  }

  .btn {
    font-size: 20px;
    padding: 1em;
    height: 55px;
    width: 120px;
    font-weight: bold;
  }

  #projects h1 {
    font-size: 25px;
    margin-top: 40rem;
    margin-bottom: 10rem;
  }
}

@media (min-width: 1200px) {
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }

  .container-icone {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }

  .picture-container {
    margin-left: 32rem;
    margin-top: 3rem;
  }

  section {
    height: 60vh;
  }

  #education .bg {
    margin-top: 8rem;
  }

  #header h2 {
    margin-top: 10rem;
  }
  #competence h1 {
    margin-bottom: 5rem;
  }

  #Projects1 h2 {
    margin-top: 10rem;
  }

  #Projects2 h2 {
    margin-top: 5em;
  }

  #Projects3 h2 {
    margin-top: 5em;
  }
}
